@import "reset.scss";
@import "variable.scss";

body {
  height: 100vh;
  background: $red;
}

header {
  background-color: $b_w;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3vh;
  h1 {
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: $red;
    font-size: 55px;
    width: 50%;
  }
}

.head {
  color: $red;
}

.p_1 {
  font-size: 20px;
  display: flex;
  padding-bottom: 10%;
}

.p_2 {
  display: flex;
  padding-bottom: 10%;
  font-size: 15px;
}

.tag {
  color: $gray;
}

